# Built application files
# Module /app build outputs
/app/build/
/build/
**/build/
**/generated/

# Gradle
/.gradle/

# Local configs
local.properties
keystore.properties

# IDE files
/.idea/
.vscode/
*.iml

# Android
*.apk
*.aab

# Misc
google-services.json
*.jks
